<h1>{{ 'account.register.heading' | translate }}</h1>
<p>{{ 'account.register.message' | translate }}</p>

<ish-error-message [error]="error$ | async"></ish-error-message>

<div class="registration-form section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <h2>{{ 'account.register.address.headding' | translate }}</h2>
    <div class="section">
      <p>{{ 'account.register.address.message' | translate }}</p>
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <p class="indicates-required">
            <span class="required">*</span>{{ 'account.required_field.message' | translate }}
          </p>

          <ish-address-form-container [parentForm]="form"></ish-address-form-container>

          <ish-tac-checkbox [form]="form"></ish-tac-checkbox>

          <div class="row form-group">
            <div class="offset-md-4 col-md-8">
              <input
                type="submit"
                [disabled]="formDisabled"
                class="btn btn-primary"
                value="{{ 'account.create.button.label' | translate }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
